#categoryDivContainer {
	font-size: 1.2em;
}

#categoryUlList {
	display: flex;
	margin-top: 48px;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	align-content: space-around;
	user-select: none;
	font-weight: 500;
	font-size: 1.6em;
}

a {
	color: white;
}

#categoryUlList > li {
	margin: 0 15px;
}

#categoryUlList > li:hover {
	border-radius: 20px;
	outline: 1px solid white;
	filter: drop-shadow(0 0 15px var(--glow-color));
}

#categoryUlList a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
}

#categoryUlList p {
	text-align: center;
}

#categoryUlList img {
	height: 240px;
	width: auto;
}

#categoryUlList img:hover {
	filter: drop-shadow(0 0 15px var(--glow-color));
	transition: 0.01s all;
}

@media (max-width: 768px) {
	#categoryDivContainer {
		font-size: 1em;
		text-align: center;
	}

	#categoryUlList {
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		margin-bottom: 30px;
		padding: 0;

		li {
			font-size: 0.8em;
			padding: 5px 0;
			border: 1px solid white;
			margin: 5px;
			border-radius: 20px;
			box-shadow: 0.5px 0.5px 1px black;
		}

		li:hover {
			border-radius: none;
			outline: none;
			filter: none;
		}
	}
}
