#gameInfoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 50px;
	width: 70%;
	height: 80vh;

	h1 {
		text-align: center;
		font-size: 2.6em;
		margin: 5px 0;
	}

	p,
	a {
		text-align: center;
		font-size: 1.2em;
	}

	.moreAbout {
		margin-top: 40px;
		text-decoration: underline;
	}
}

.homeImg {
	margin: 15px;
	border-radius: 20px;
	border: 2px solid white;
	filter: drop-shadow(0 0 10px var(--glow-color));
	animation: homeAnimation 2s infinite ease;
}

@keyframes homeAnimation {
	0% {
		filter: drop-shadow(0 0 10px var(--glow-color));
	}
	50% {
		filter: drop-shadow(0 0 25px var(--glow-color));
	}
}

#arrowDown {
	margin-top: 90px;
	width: 80px;
	animation: arrowDownAnimation 0.7s infinite alternate forwards ease-in;
}

#gameInfoContainer a {
	color: white;
	font-weight: bold;
	font-size: 1.4em;
}

input {
	font-size: 1.8em;
	padding: 5px 10px;
	width: 400px;
}

@keyframes arrowDownAnimation {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(30px);
	}
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 1.4em;
		margin: 5px 0;
	}

	p,
	a {
		text-align: center;
		font-size: 0.8em;
	}

	.moreAbout {
		margin-top: 5px;
	}
}
