.title {
	font-size: 3em;
	text-align: center;
	margin-bottom: 15px;
}

#headerContainer {
	display: flex;
	align-items: center;
	padding: 40px 10px;
	margin-right: auto;
	margin-left: 4rem;
}

#headerContainer > a {
	font-size: 1.1em;
	font-weight: 600;
	margin-right: 20px;
}

.searchBar {
	padding: 5px 15px;
	margin-left: 60px;
	background-color: var(--mica-bg);
	backdrop-filter: var(--mica-blur);
	border: var(--mica-border);
	border-radius: 12px;
	border-bottom: 2px solid white;
	font-size: 2em;
	color: white;
	transition: all 0.2s ease;
}

.searchBar:focus {
	outline: none;
	box-shadow: var(--glow-shadow);
	border-bottom: 2px solid var(--glow-color);
}

.searchBar::placeholder {
	color: rgb(172, 172, 172);
}

@media (max-width: 768px) {
	#headerContainer {
		width: 100%;
		flex-flow: column wrap;
		padding: 0;
		margin: 10px auto;
	}

	.title {
		font-size: 1.4em;
		margin: 0;
		padding: 0;
	}

	.searchBar {
		margin: 0;
		margin-top: -10px;
		margin-bottom: 10px;
		padding: 5px;
		height: 40px;
		font-size: 1.4em;
		width: 80%;
	}
}
