#navBarUl {
	width: 100%;
	position: fixed;
	background-color: var(--mica-bg);
	backdrop-filter: var(--mica-blur);
	border-bottom: var(--mica-border);
	box-shadow: var(--shadow-base);
	z-index: 10;
	display: flex;
	align-items: center;
	min-width: max-content;
	height: 82px;
	font-size: 1.2em;
	padding: 5px 0;
	margin: 0;
	left: 0;
}

.navLi {
	transition: all ease-out 0.05s;
	margin: 0 10px;
	padding: 0 5px;
}

.currentRoute {
	border-bottom: 2px solid white;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px var(--glow-color);
}

.aNavbar:hover {
	cursor: pointer;
	border-bottom: 2px solid white;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px var(--glow-color);
}
#logoImgContainer {
	height: 100%;
	padding: 5px;
	width: max-content;
	margin-right: 45px;
}

#logoImg {
	height: 100%;
	transform: rotate(360deg);
	border-radius: 50%;
	outline: 1px solid white;
}

@media only screen and (max-width: 768px) {
	#navBarUl {
		height: 70px;
	}

	.navLi {
		margin: 0;
		padding: 0 10px;
	}

	#logoImg {
		background-color: rgb(63, 115, 182);
		margin: 0;
	}
	#logoImgContainer {
		margin-right: 20px;
	}
}
